# PORTA DA API
PORT=3002

# MySQL local (Docker)
DEV_DB_HOST=
DEV_DB_PORT=
DEV_DB_USER=
DEV_DB_PASSWORD=
DEV_DB_NAME=
DB_CONNECTION_LIMIT=

# MySQL remoto / produção (EC2, VPS, etc)
PROD_DB_HOST=
PROD_DB_PORT=
PROD_DB_USER=
PROD_DB_PASSWORD=
PROD_DB_NAME=
DB_CONNECTION_LIMIT=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
AWS_S3_BUCKET=watlab-filesPORT=3001
